build/
.venv*
.vscode/
groundTruth*
result*
logs*
src_/
include_/
*.pyc
__pycache__/
build_debug/
data*/
controls/images*
controls/groundTruths
LightGlue*
targets*
weights/*
!weights/lightglue_patched.onnx
!weights/superpoint.onnx