cmake==3.31.6
coloredlogs==15.0.1
flatbuffers==25.12.19
humanfriendly==10.0
ImageIO==2.37.4
lazy-loader==0.5
ml_dtypes==0.6.0
mpmath==1.3.0
networkx==3.4.2
numpy==2.2.6
onnx==1.22.0
onnx-ir==1.0.0
onnxscript==0.7.1
opencv-python==5.0.0.93
packaging==26.3
pillow==12.3.0
protobuf==7.35.1
scikit-image==0.25.2
scipy==1.15.3
sympy==1.14.0
tifffile==2025.5.10
typing_extensions==4.16.0
